-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "gnDivisionId" INTEGER,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GnDivision" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "GnDivision_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Village" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "gnDivisionId" INTEGER NOT NULL,

    CONSTRAINT "Village_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DisabilityCategory" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "DisabilityCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DisabilityType" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "categoryId" INTEGER,

    CONSTRAINT "DisabilityType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaritalStatus" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "MaritalStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EducationLevel" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "EducationLevel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmploymentStatus" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "EmploymentStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssistanceType" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "AssistanceType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DisabledPerson" (
    "id" SERIAL NOT NULL,
    "registrationNumber" TEXT NOT NULL,
    "nic" TEXT NOT NULL,
    "profilePhotoBase64" TEXT,
    "fullName" TEXT NOT NULL,
    "nameWithInitials" TEXT,
    "gender" TEXT NOT NULL,
    "dob" TIMESTAMP(3) NOT NULL,
    "age" INTEGER NOT NULL,
    "maritalStatusId" INTEGER,
    "mobileNumber" TEXT NOT NULL,
    "altContactNumber" TEXT,
    "gnDivisionId" INTEGER NOT NULL,
    "villageId" INTEGER,
    "address" TEXT NOT NULL,
    "disabilityCategoryId" INTEGER NOT NULL,
    "disabilityTypeId" INTEGER NOT NULL,
    "disabilityPercentage" INTEGER,
    "causeOfDisability" TEXT,
    "disabilityStartDate" TIMESTAMP(3),
    "educationLevelId" INTEGER,
    "schoolAttended" TEXT,
    "employmentStatusId" INTEGER,
    "occupation" TEXT,
    "monthlyIncome" DOUBLE PRECISION,
    "headOfFamily" TEXT,
    "familyMembersCount" INTEGER,
    "guardianName" TEXT,
    "guardianContact" TEXT,
    "hospital" TEXT,
    "doctor" TEXT,
    "medicalCertificateNumber" TEXT,
    "medicalCertificateExpiry" TIMESTAMP(3),
    "notes" TEXT,
    "assistanceReceived" TEXT,
    "registeredById" INTEGER NOT NULL,
    "registeredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DisabledPerson_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FamilyMember" (
    "id" SERIAL NOT NULL,
    "personId" INTEGER NOT NULL,
    "fullName" TEXT NOT NULL,
    "dob" TIMESTAMP(3),
    "nic" TEXT,
    "relationship" TEXT NOT NULL,
    "phoneNumber" TEXT,
    "occupation" TEXT,

    CONSTRAINT "FamilyMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EquipmentAssistance" (
    "id" SERIAL NOT NULL,
    "personId" INTEGER NOT NULL,
    "equipmentName" TEXT NOT NULL,
    "receivedYear" TEXT,

    CONSTRAINT "EquipmentAssistance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PersonAssistance" (
    "id" SERIAL NOT NULL,
    "personId" INTEGER NOT NULL,
    "assistanceTypeId" INTEGER NOT NULL,

    CONSTRAINT "PersonAssistance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Document" (
    "id" SERIAL NOT NULL,
    "personId" INTEGER NOT NULL,
    "documentType" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER,
    "action" TEXT NOT NULL,
    "entity" TEXT,
    "entityId" INTEGER,
    "ipAddress" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommitteeMember" (
    "id" SERIAL NOT NULL,
    "role" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "phoneNumber" TEXT NOT NULL,
    "photoBase64" TEXT,
    "orderIndex" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "CommitteeMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GalleryImage" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "date" TIMESTAMP(3),
    "photoBase64" TEXT NOT NULL,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GalleryImage_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "DisabledPerson_registrationNumber_key" ON "DisabledPerson"("registrationNumber");

-- CreateIndex
CREATE UNIQUE INDEX "DisabledPerson_nic_key" ON "DisabledPerson"("nic");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_gnDivisionId_fkey" FOREIGN KEY ("gnDivisionId") REFERENCES "GnDivision"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Village" ADD CONSTRAINT "Village_gnDivisionId_fkey" FOREIGN KEY ("gnDivisionId") REFERENCES "GnDivision"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabilityType" ADD CONSTRAINT "DisabilityType_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "DisabilityCategory"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_maritalStatusId_fkey" FOREIGN KEY ("maritalStatusId") REFERENCES "MaritalStatus"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_gnDivisionId_fkey" FOREIGN KEY ("gnDivisionId") REFERENCES "GnDivision"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_villageId_fkey" FOREIGN KEY ("villageId") REFERENCES "Village"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_disabilityCategoryId_fkey" FOREIGN KEY ("disabilityCategoryId") REFERENCES "DisabilityCategory"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_disabilityTypeId_fkey" FOREIGN KEY ("disabilityTypeId") REFERENCES "DisabilityType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_educationLevelId_fkey" FOREIGN KEY ("educationLevelId") REFERENCES "EducationLevel"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_employmentStatusId_fkey" FOREIGN KEY ("employmentStatusId") REFERENCES "EmploymentStatus"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DisabledPerson" ADD CONSTRAINT "DisabledPerson_registeredById_fkey" FOREIGN KEY ("registeredById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FamilyMember" ADD CONSTRAINT "FamilyMember_personId_fkey" FOREIGN KEY ("personId") REFERENCES "DisabledPerson"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentAssistance" ADD CONSTRAINT "EquipmentAssistance_personId_fkey" FOREIGN KEY ("personId") REFERENCES "DisabledPerson"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PersonAssistance" ADD CONSTRAINT "PersonAssistance_personId_fkey" FOREIGN KEY ("personId") REFERENCES "DisabledPerson"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PersonAssistance" ADD CONSTRAINT "PersonAssistance_assistanceTypeId_fkey" FOREIGN KEY ("assistanceTypeId") REFERENCES "AssistanceType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Document" ADD CONSTRAINT "Document_personId_fkey" FOREIGN KEY ("personId") REFERENCES "DisabledPerson"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

